body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
/*NavBar*/
nav .nav-wrapper {
  background-color: #1d2740;
}

#nav-items li a:hover {
  color: gold;
}

/*Main content*/
section {
  margin-top: 2em;
}

section aside div img {
  width: 30em;
}

.SolucionesLLDM-text {
  margin-top: 1.5em;
  text-align: center;
}

#img-con-nosotros {
  display: flex;
  justify-content: center;
}

.areas-de-servicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.areas-de-servicio img {
  margin-top: 0.5em;
  width: 15em;
}

/*Footer*/
footer.page-footer {
  background-color: #1d2740;
  margin-top: 3em;
}

/*Media queriies*/
@media screen and (max-width: 760px) {
  .areas-de-servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
