body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav .nav-wrapper {
  background-color: #1d2740;
}

footer.page-footer {
  background-color: #1d2740;
}

#nav-items li a:hover {
  color: gold;
}
