body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

p {
  font-size: large;
  font-family: "Montserrat", sans-serif;
}

.header-fig figure {
  margin: 0 !important;
}

main {
  flex: 1 0 auto;
}
/*NavBar*/
nav {
  height: 8em;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  line-height: 8em;
}

nav .nav-wrapper {
  background-color: #ffffff;
}

#nav-items li a {
  color: #1d2740;
}

#nav-items li a:hover {
  color: gold;
}

.nuestraMision {
  -webkit-box-shadow: 0px 0px 30px 1px rgba(158, 158, 158, 0.64);
  -moz-box-shadow: 0px 0px 30px 1px rgba(158, 158, 158, 0.64);
  box-shadow: 0px 0px 30px 1px rgba(158, 158, 158, 0.64);
  border-radius: 5%;
}

/*Main content*/

.img-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

#fifth-section article {
  display: flex;
  align-items: center;
}

/*Footer*/
footer.page-footer {
  -webkit-box-shadow: 0px -11px 13px 0px rgba(214, 214, 214, 0.48);
  -moz-box-shadow: 0px -11px 13px 0px rgba(214, 214, 214, 0.48);
  box-shadow: 0px -11px 13px 0px rgba(214, 214, 214, 0.48);
  background-color: #ffffff;
  margin-top: 3em;
}
